PORT=4173
FIBER_RPC_URL=http://127.0.0.1:8227
ALLOW_CLIENT_RPC=false
FLIGHTCHECK_DEFAULT_AMOUNT=10
FLIGHTCHECK_DEFAULT_ASSET=CKB
FNN_CLI_PATH=fnn-cli
PAYMENT_PROOF_ENABLED=false
PAYMENT_PROOF_TARGET_PUBKEY=
PAYMENT_PROOF_MAX_CKB=1
PAYMENT_PROOF_COOLDOWN_MS=60000
PAYMENT_EXECUTION_ENABLED=false
PAYMENT_EXECUTION_TOKEN=
